# Archivos temporales de RPG Maker XP
/Game.rgss3a
/Game.ini
/Game.rxproj

# Archivos que se generan automáticamente
Data/Constants.rxdata
Data/messages.dat
Data/PkmAnimations.rxdata
Data/MapChecker.dat

# Archivos de copia de seguridad generados automáticamente
*.bak
*.log

# Carpetas de backup
/Backup/
/Autosave/
/Save/

# Archivos de caché de RPG Maker
*.cache
*.tmp
